MODEL="gemini-2.5-flash"
PROJECT="your-project-id"
LOCATION="asia-south1"
MAX_OUTPUT_TOKENS=8192
TEMPERATURE=0.0
TOP_P=0.95
TOP_K=40
MAX_SEARCH_LEN=500
GOOGLE_APPLICATION_CREDENTIALS="creds/service-account.json"
PROMPT_VERSION="latest"
